# flyctl launch added from .gitignore
**\HELP.md
**\target
!**\.mvn\wrapper\maven-wrapper.jar
!**\**\src\main\**\target
!**\**\src\test\**\target

### STS ###
**\.apt_generated
**\.classpath
**\.factorypath
**\.project
**\.settings
**\.springBeans
**\.sts4-cache

### IntelliJ IDEA ###
**\.idea
**\*.iws
**\*.iml
**\*.ipr

### NetBeans ###
nbproject\private
nbbuild
dist
nbdist
.nb-gradle
**\build
!**\**\src\main\**\build
!**\**\src\test\**\build

### VS Code ###
**\.vscode
**\node_modules

### Local Configuration ###
**\.env

# flyctl launch added from src\main\crpytomock\.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
src\main\crpytomock\node_modules
src\main\crpytomock\.pnp
src\main\crpytomock\**\.pnp.js

# testing
src\main\crpytomock\coverage

# production
src\main\crpytomock\build

# misc
src\main\crpytomock\**\.DS_Store
src\main\crpytomock\**\.env.local
src\main\crpytomock\**\.env.development.local
src\main\crpytomock\**\.env.test.local
src\main\crpytomock\**\.env.production.local

src\main\crpytomock\**\npm-debug.log*
src\main\crpytomock\**\yarn-debug.log*
src\main\crpytomock\**\yarn-error.log*

# flyctl launch added from target\node\node_modules\npm\node_modules\libnpmdiff\.gitignore
# Logs
target\node\node_modules\npm\node_modules\libnpmdiff\**\logs
target\node\node_modules\npm\node_modules\libnpmdiff\**\*.log
target\node\node_modules\npm\node_modules\libnpmdiff\**\npm-debug.log*
target\node\node_modules\npm\node_modules\libnpmdiff\**\lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
target\node\node_modules\npm\node_modules\libnpmdiff\**\report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
target\node\node_modules\npm\node_modules\libnpmdiff\**\pids
target\node\node_modules\npm\node_modules\libnpmdiff\**\*.pid
target\node\node_modules\npm\node_modules\libnpmdiff\**\*.seed
target\node\node_modules\npm\node_modules\libnpmdiff\**\*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
target\node\node_modules\npm\node_modules\libnpmdiff\**\lib-cov

# Coverage directory used by tools like istanbul
target\node\node_modules\npm\node_modules\libnpmdiff\**\coverage
target\node\node_modules\npm\node_modules\libnpmdiff\**\*.lcov

# nyc test coverage
target\node\node_modules\npm\node_modules\libnpmdiff\**\.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
target\node\node_modules\npm\node_modules\libnpmdiff\**\.grunt

# Bower dependency directory (https://bower.io/)
target\node\node_modules\npm\node_modules\libnpmdiff\**\bower_components

# node-waf configuration
target\node\node_modules\npm\node_modules\libnpmdiff\**\.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
target\node\node_modules\npm\node_modules\libnpmdiff\**\build\Release

# Dependency directories
target\node\node_modules\npm\node_modules\libnpmdiff\**\node_modules
target\node\node_modules\npm\node_modules\libnpmdiff\**\jspm_packages

# TypeScript v1 declaration files
target\node\node_modules\npm\node_modules\libnpmdiff\**\typings

# TypeScript cache
target\node\node_modules\npm\node_modules\libnpmdiff\**\*.tsbuildinfo

# Optional npm cache directory
target\node\node_modules\npm\node_modules\libnpmdiff\**\.npm

# Optional eslint cache
target\node\node_modules\npm\node_modules\libnpmdiff\**\.eslintcache

# Microbundle cache
target\node\node_modules\npm\node_modules\libnpmdiff\**\.rpt2_cache
target\node\node_modules\npm\node_modules\libnpmdiff\**\.rts2_cache_cjs
target\node\node_modules\npm\node_modules\libnpmdiff\**\.rts2_cache_es
target\node\node_modules\npm\node_modules\libnpmdiff\**\.rts2_cache_umd

# Optional REPL history
target\node\node_modules\npm\node_modules\libnpmdiff\**\.node_repl_history

# Output of 'npm pack'
target\node\node_modules\npm\node_modules\libnpmdiff\**\*.tgz

# Yarn Integrity file
target\node\node_modules\npm\node_modules\libnpmdiff\**\.yarn-integrity

# dotenv environment variables file
target\node\node_modules\npm\node_modules\libnpmdiff\**\.env
target\node\node_modules\npm\node_modules\libnpmdiff\**\.env.test

# parcel-bundler cache (https://parceljs.org/)
target\node\node_modules\npm\node_modules\libnpmdiff\**\.cache

# next.js build output
target\node\node_modules\npm\node_modules\libnpmdiff\**\.next

# nuxt.js build output
target\node\node_modules\npm\node_modules\libnpmdiff\**\.nuxt

# gatsby files
target\node\node_modules\npm\node_modules\libnpmdiff\**\.cache
target\node\node_modules\npm\node_modules\libnpmdiff\**\public

# vuepress build output
target\node\node_modules\npm\node_modules\libnpmdiff\**\.vuepress\dist

# Serverless directories
target\node\node_modules\npm\node_modules\libnpmdiff\**\.serverless

# FuseBox cache
target\node\node_modules\npm\node_modules\libnpmdiff\**\.fusebox

# DynamoDB Local files
target\node\node_modules\npm\node_modules\libnpmdiff\**\.dynamodb

# Editors
target\node\node_modules\npm\node_modules\libnpmdiff\**\Session.vim
fly.toml
